<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Quiz Examination</title>
    <!-- Linked the custom css file externally -->
    <link rel="stylesheet" href="../static/css/home_css.css">
</head>
<body>
    <nav>
        <h1>ONLINE QUIZ EXAMINATION</h1>
    </nav>
        <div class="about-author">
            <h3>Project by: <b>Neelesh Nainwal</b></h3>
            <h4>University Roll No: 2016867</h4>
            <h4>Section: A</h4>
        </div>
        <div class="take-quiz">
            <a href="./main.html"><button>Take Quiz</button></a>
        </div>
</body>
</html>